/**
 * Typography & Text styles
 */

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  font-size: 30px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  /* position: fixed;
  bottom: 0; */
  background: rgba(0, 0, 0, 0.0);
  color: #f1f1f1;
  /* width: 100%;
  padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
